<!DOCTYPE html>
<html ng-app='sportsStore'>
  <head>
    <title>SportsStore</title>
    <script src="angularjs/angular.min.js"></script>
    <script src="angularjs/angular-locale_pl.js"></script>
    <link href="angularjs/bootstrap.min.css" rel="stylesheet"></link>
    <link href="angularjs/bootstrap-theme.min.css" rel="stylesheet"></link>
    <script>
      angular.module("sportsStore", ["customFilters"]);
    </script>
    <script src="controllers/sportsStore.js"></script>
    <script src="controllers/productListControllers.js"></script>
    <script src="filters/customFilters.js"></script>

  </head>
  <body ng-controller="sportsStoreCtrl">
    <div class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">SKLEP SPORTOWY</a>
    </div>
    <div class="panel panel-default row" ng-controller="productListCtrl">
      <div class="col-xs-3">
        <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Strona główna</a>
        <a ng-repeat="product in data.products | orderBy:'category' | unique: 'category'"
           ng-click="selectCategory(product)" class="btn btn-block btn-default btn-lg" ng-class="getCategoryClass(product)">{{ product }}</a>
      </div>
      <div class="col-xs-8">
        <div class="well" ng-repeat="product in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
          <h3>
            <strong>{{ product.name }}</strong>
            <span class="pull-right label label-primary">{{ product.price | currency }}</span>
          </h3>
          <span class="lead">{{ item.description }}</span>
      </div>
      <div class="pull-right btn-group">          
        <a ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize" ng-click="selectPage($index+1)" class="btn btn-default" ng-class="getPageClass($index+1)">
          {{ $index+1 }}
        </a>
      </div>
    </div>
  </body>
</html>